<ion-view cache-view="false" view-title="About Us" name="aboutus-view">
    <ion-pane  style="background-color: #FFFFFF">
        <ion-content scroll="true">
            <section>
                <div class="col padding">
                    <img  src="app/assets/images/icon.png">
                </div>
                <div class="row">
                        <div class="col padding">
                            <h4>New Frontiers TV</h4>
                            <p class="padding">
                            <p>The New Frontiers TV is a satellite TV platform of the Nigerian Baptist Convention multimedia ministries, which focuses on bringing transforming television programs to homes across Africa and beyond.</p>
                            <p>The New Frontiers TV offers churches, organisations and individual’s unique opportunity to reach out to millions across the globe with the word of truth.</p>
                            <p>New Frontiers TV currently reaches millions of people across Africa an part of Europe, we are looking into reaching out to other countries; we have global impact as we stream our channel on the internet and this makes our station accessible in all countries. Every day we are trying to get more people connected via Television screens, PCs and across all smart mobile platforms. Let us spread the gospel together.</p>
                            </p>
                        </div>
                    </a>
                </div>
            </section>
        </ion-content>
    </ion-pane>
</ion-view>