<ion-view cache-view="false" view-title="Contact Us" name="contact-view">
    <ion-pane  style="background-color: #FFFFFF">
        <ion-content scroll="true">
            <section>
                <div class="col padding">
                    <img  src="app/assets/images/logo.png">
                </div>
                <div class="row">
                    <div class="col padding">
                        <h4>New Frontiers TV</h4>
                        <p class="padding">
                            Contact Us<br>
                            Email: ADMIN@NFTV.INFO, info@nftvapp.com<br>
                            Telephone: +234 815 999 2000, +234 803 578 2398<br>
                            Nigerian Baptist Convention<br>
                            Baptist Building, Okebola Ibadan, Nigeria.<br>
                            @ New Frontiers Television 2017<br>
                            Powered by: Dynamic Initiative Consult<br>
                            www.dicng,com
                        </p>
                    </div>
                    </a>
                </div>
            </section>
        </ion-content>
    </ion-pane>
</ion-view>