<ion-side-menus expose-aside-when="large">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="custom">
      <ion-list>

        <ion-item class="bar-balanced">
          <p><img class="user-image" ng-src="app/assets/images/logo.png" spinner-on-load></p>
        </ion-item>

        <!--<ion-item class="" nav-clear menu-close ui-sref="app.profile">
          <h2 class="greeting">Top Stories</h2>
        </ion-item>-->

        <ion-item  nav-clear menu-close ui-sref="app.dashboard">
          <h2 class="menu-text">Top Stories</h2>
        </ion-item>
        <ion-item ng-repeat="cat in categories" nav-clear menu-close href="#/app/news/category/{{cat.catid}}">
          <h2 class="menu-text">{{cat.cat_name}}</h2>
        </ion-item>
        <ion-item class="item-divider balanced-bg">
          <h2 class="menu-text center" style="color: white;">Others</h2>
        </ion-item>
        <ion-item class="" nav-clear menu-close ui-sref="app.iwitness">
          <h2 class="menu-text">iWitness</h2>
        </ion-item>
        <ion-item class="" nav-clear menu-close ui-sref="app.events">
          <h2 class="menu-text">Events</h2>
        </ion-item>
        <ion-item class="" nav-clear menu-close href="#" onclick="window.open('http://cdn.livestream.com/embed/newfrontierstv?layout=4&color=0x006ccd&autoPlay=true&mute=false&iconColorOver=0xe4f2ff&iconColor=0xb5dcff&allowchat=true&height=340&width=560', '_blank','location=yes','closebuttoncaption=Return');">
          <h2 class="menu-text">Live TV</h2>
        </ion-item>
        <ion-item class="" nav-clear menu-close href="#" onclick="window.open('https://www.youtube.com/channel/UCK9-_IMCIZjivUgikc4vZBg/live', '_blank','location=yes','closebuttoncaption=Return');">
          <h2 class="menu-text">Youtube</h2>
        </ion-item>
        <ion-item class="" nav-clear menu-close href="#" onclick="window.open('https://web.facebook.com/nftv1/?mt_nav=0', '_blank','location=yes','closebuttoncaption=Return');">
          <h2 class="menu-text">Facebook</h2>
        </ion-item>
        <ion-item class="" nav-clear menu-close ui-sref="app.contactus">
          <h2 class="menu-text">Contact Us</h2>
        </ion-item>
        <ion-item class="" nav-clear menu-close ui-sref="app.aboutus">
          <h2 class="menu-text">About Us</h2>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.settings">
          <h2 class="menu-text">Settings</h2>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>