<ion-view view-title="Settings">
    <form name="HTSsettings">
        <ion-content>
            <ul class="list">


                <!--<label class="item item-input item-stacked-label">
                    <span class="input-label">App Email</span>
                    <input type="text" name="app_email" ng-model="data.app_email" value="{{app_email}}">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">No Reply Email</span>
                    <input type="text" name="no_reply" ng-model="data.no_reply">
                </label>-->


                <label class="item item-input item-stacked-label">
                    <span class="input-label">Font Size</span>
                    <button class="button button-block" modal-select="" ng-model="data.userfont" options="fontsize" modal-title="Select User Position">
                        Select Font Size:
                        <div class="option">{{option}}</div>
                        <span ng-if="fontsize">{{data.userfont}}</span>

                    </button>
                    <input type="hidden"  ng-model="data.user_position" name="user_position">
                </label>


                <ion-toggle toggle-class="toggle-balanced" ng-model="data.app_enotify" ng-true-value="'On'" ng-false-value="'Off'">
                    Email Notification
                </ion-toggle>
                <input type="hidden" name="app_enotify" ng-model="data.app_enotify">

                <input type="hidden" name="doctor_sign" ng-model="data.doctor_sign">
            </ul>
        </ion-content>

        <ion-footer-bar class="bar bar-calm">
            <button  class="button button-positive ion-settings" ng-click="HTSLSettingsUpdate()"> Save changes</button>
        </ion-footer-bar>
    </form>
</ion-view>