<ion-view cache-view="false" view-title="Live TV" name="stream-view">

    <ion-pane  style="background-color: #FFFFFF">

        <ion-content scroll="true">
            <div class="col">
                <div class="card">
                    <h4 class="padding">Watch Live TV</h4>
                    <div ng-if="vlink" class="video-container">
                        <iframe src="https://www.youtube.com/channel/UCK9-_IMCIZjivUgikc4vZBg/live" frameborder="0" width="560" height="315" allowfullscreen></iframe>
                    </div>
                </div>


                <div class="list">
                    <a class="item button" href="#" onclick="window.open('https://www.youtube.com/channel/UCK9-_IMCIZjivUgikc4vZBg/live', '_blank','location=yes','closebuttoncaption=Return');">
                        Watch Live TV
                    </a>
                    <a class="item" href="#" onclick="window.open('https://web.facebook.com/nftv1/?mt_nav=0', '_self', 'location=yes'); return false;">
                        Facebook
                    </a>
                    <a class="item" href="#" onclick="window.open('https://plus.google.com/+NicRaboy', '_system', 'location=yes'); return false;">
                        Open a Google+ Client or Browser
                    </a>
                </div>

            </div>
            <section>
                <div class="col padding-bottom">
                </div>
            </section>
        </ion-content>

    </ion-pane>
</ion-view>