<ion-view cache-view="false" view-title="Advert" name="advert-view">

    <ion-pane  style="background-color: #FFFFFF">

        <ion-content scroll="true">
            <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="PullRefresher(row.post_id)">
            </ion-refresher>
            <section>
                <div class="col no-padding" style="margin: -20px 0; padding:0;">
                    <img class="full-image" src="{{surl}}{{row.post_image}}">
                </div>
                <div class="row padding-top">
                    <div class="col padding">
                        <h4>{{row.post_title}}</h4>
                        <p ng-bind-html="row.post_description" ng-class="fontSize"></p>
                    </div>
                </div>
            </section>
            <section>
                <div class="col padding-bottom">
                </div>
            </section>
        </ion-content>
        <ion-footer-bar class="bar bar-balanced">
            <div class="col text-center">
                <a class="light" style="font-size: 16px;" href="#/app/advert/{{advert.post_id}}">
                    <p>{{advert.post_title}}</p>
                </a>
            </div>
        </ion-footer-bar>

    </ion-pane>
</ion-view>